.main{
    position: relative;
    margin: 70px;
}
.imgg img{
    height: 700px;
    z-index: 1;
}
.content{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    position:absolute;
    top: 210px;
    left: 70px;
    z-index: 3;
}
.boxw{
    background: rgba(255,355,255,0.5);
    width: 300px;
    height: 603px;
    position: absolute;
    top: 50px;
    left: 40.9px;
    z-index: 2;
}
.boxm{
    border: 2px solid white;
    position: absolute;
    top: 37px;
    left: 30px;
    width: 318px;
    height: 625px;
}
h2{
    position: relative;
    top: 40px;
    left: 70px;
}
hr{
    position: relative;
    top: 40px;
    right: 490px;
    width: 430px;
}